
.btnSearch{
    background-color: #E7AB3C !important;
    font-weight: bold !important;
}
.menu{
    margin-top: 10px !important;
    background-color: #FFFFFF !important;
    border: none !important;
}

.menu1{

    font-size: 18px !important;
    border: none !important;
}
.navbar-collapse{
    padding-left: 300px !important;
}
.menu_item{

    text-align: center;
    border-right: #3B3B3B solid 2px;
    width: 150px;
}

li.active{
    background-color: #E7AB3C !important;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus{

    background-color: #E7AB3C !important;
}
.navbar-inverse .navbar-nav>li:hover{
    background-color: #E7AB3C !important;
}
.navbar-form{
    width: 400px !important;
}
.img{
    width: 70px;
}





    .below-content{
        margin: 70px;
    }



    /* card */

    .card{ background-color: #fff; border: 1px solid transparent; border-radius: 6px; }
.card > .card-link{ color: #333; }
.card > .card-link:hover{  text-decoration: none; }
.card > .card-link .card-img img{ border-radius: 6px 6px 0 0; }
.card .card-img{ position: relative; padding: 0; display: table; }
.card .card-img .card-caption{
  position: absolute;
  right: 0;
  bottom: 16px;
  left: 0;
}
.card .card-body{ display: table; width: 100%; padding: 12px; }
.card .card-header{ border-radius: 6px 6px 0 0; padding: 8px; }
.card .card-footer{ border-radius: 0 0 6px 6px; padding: 8px; }
.card .card-left{ position: relative; float: left; padding: 0 0 8px 0; }
.card .card-right{ position: relative; float: left; padding: 8px 0 0 0; }
.card .card-body h1:first-child,
.card .card-body h2:first-child,
.card .card-body h3:first-child,
.card .card-body h4:first-child,
.card .card-body .h1,
.card .card-body .h2,
.card .card-body .h3,
.card .card-body .h4{ margin-top: 0; }
.card .card-body .heading{ display: block;  }
.card .card-body .heading:last-child{ margin-bottom: 0; }

.card .card-body .lead{ text-align: center; }

@media( min-width: 768px ){
  .card .card-left{ float: left; padding: 0 8px 0 0; }
  .card .card-right{ float: left; padding: 0 0 0 8px; }

  .card .card-4-8 .card-left{ width: 33.33333333%; }
  .card .card-4-8 .card-right{ width: 66.66666667%; }

  .card .card-5-7 .card-left{ width: 41.66666667%; }
  .card .card-5-7 .card-right{ width: 58.33333333%; }

  .card .card-6-6 .card-left{ width: 50%; }
  .card .card-6-6 .card-right{ width: 50%; }

  .card .card-7-5 .card-left{ width: 58.33333333%; }
  .card .card-7-5 .card-right{ width: 41.66666667%; }

  .card .card-8-4 .card-left{ width: 66.66666667%; }
  .card .card-8-4 .card-right{ width: 33.33333333%; }
}

/* -- default theme ------ */
.card-default{
  border-color: #ddd;
  background-color: #fff;
  margin-bottom: 24px;
}
.card-default > .card-header,
.card-default > .card-footer{ color: #333; background-color: #ddd; }
.card-default > .card-header{ border-bottom: 1px solid #ddd; padding: 8px; }
.card-default > .card-footer{ border-top: 1px solid #ddd; padding: 8px; }
.card-default > .card-body{  }
.card-default > .card-img:first-child img{ border-radius: 6px 6px 0 0; }
.card-default > .card-left{ padding-right: 4px; }
.card-default > .card-right{ padding-left: 4px; }
.card-default p:last-child{ margin-bottom: 0; }
.card-default .card-caption { color: #fff; text-align: center; text-transform: uppercase; }


/* -- price theme ------ */
.card-price{ border-color: #999; background-color: #ededed; margin-bottom: 24px; }
.card-price > .card-heading,
.card-price > .card-footer{ color: #333; background-color: #fdfdfd; }
.card-price > .card-heading{ border-bottom: 1px solid #ddd; padding: 8px; }
.card-price > .card-footer{ border-top: 1px solid #ddd; padding: 8px; }
.card-price > .card-img:first-child img{ border-radius: 6px 6px 0 0; }
.card-price > .card-left{ padding-right: 4px; }
.card-price > .card-right{ padding-left: 4px; }
.card-price .card-caption { color: #fff; text-align: center; text-transform: uppercase; }
.card-price p:last-child{ margin-bottom: 0; }

.card-price .price{
  text-align: center;
  color: #337ab7;
  font-size: 3em;
  text-transform: uppercase;
  line-height: 0.7em;
  margin: 24px 0 16px;
}
.card-price .price small{ font-size: 0.4em; color: #66a5da; }
.card-price .details{ list-style: none; margin-bottom: 24px; padding: 0 18px; }
.card-price .details li{ text-align: center; margin-bottom: 8px; }
.card-price .buy-now{ text-transform: uppercase; }
.card-price table .price{ font-size: 1.2em; font-weight: 700; text-align: left; }
.card-price table .note{ color: #666; font-size: 0.8em; }


.jumbotron{
    height: 100px !important;
}




.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  .price {
    color: grey;
    font-size: 22px;
  }

  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: black;
    background-color: #E7AB3C;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .card button:hover {
    background-color: rgb(247, 163, 8);
  }

  .ViewDetail {
	box-shadow:inset 0px 34px 0px -15px #E7AB3C;
	background-color:#E7AB3C;
	border:1px solid #241d13;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Georgia;
	font-size:18px;
	font-weight:bold;
	font-style:italic;
	padding:11px 48px;
	text-decoration:none;
	text-shadow:0px 0px 0px #E7AB3C;
}
.ViewDetail:hover {
	background-color:rgb(247, 163, 8);
}

/*---------------------
  Footer
-----------------------*/

.footer-section {

	padding-top: 75px;
}

.footer-left {
	margin-bottom: 30px;
}

.footer-left .footer-logo {
	margin-bottom: 24px;
}

.footer-left .footer-logo a {
	display: inline-block;
}

.footer-left ul li {
	list-style: none;
	color: #b2b2b2;
	font-size: 16px;
	line-height: 30px;
}

.footer-left .footer-social {
	padding-top: 25px;
}

.footer-left .footer-social a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background: #434445;
	color: #ffffff;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	margin-right: 7px;
	position: relative;
	z-index: 1;
}

.footer-left .footer-social a:hover:before {
	opacity: 1;
}

.footer-left .footer-social a:before {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #e7ab3c;
	content: "";
	border-radius: 50%;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	z-index: -1;
}

.footer-widget {
	margin-bottom: 30px;
}

.footer-widget h5 {
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 26px;
}

.footer-widget ul li {
	list-style: none;
}

.footer-widget ul li a {
	line-height: 36px;
	font-size: 16px;
	color: #b2b2b2;
}

.newslatter-item h5 {
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 30px;
}

.newslatter-item p {
	color: #b2b2b2;
	line-height: 26px;
}

.newslatter-item .subscribe-form {
	position: relative;
}

.newslatter-item .subscribe-form input {
	color: #b2b2b2;
	background: #303030;
	width: 100%;
	height: 46px;
	font-size: 16px;
	border: none;
	padding-left: 20px;
}

.newslatter-item .subscribe-form input::-webkit-input-placeholder {
	color: #b2b2b2;
}

.newslatter-item .subscribe-form input::-moz-placeholder {
	color: #b2b2b2;
}

.newslatter-item .subscribe-form input:-ms-input-placeholder {
	color: #b2b2b2;
}

.newslatter-item .subscribe-form input::-ms-input-placeholder {
	color: #b2b2b2;
}

.newslatter-item .subscribe-form input::placeholder {
	color: #b2b2b2;
}

.newslatter-item .subscribe-form button {
	display: inline-block;
	color: #ffffff;
	background: #e7ab3c;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	border: 1px solid #e7ab3c;
	position: absolute;
	right: 0;
	top: 0;
	padding: 13px 20px 12px;
	cursor: pointer;
}

.copyright-reserved {
	border-top: 1px solid #303030;
	padding: 15px 0;
	margin-top: 45px;
}

.copyright-reserved .copyright-text {
	float: left;
	font-size: 16px;
	color: #b2b2b2;
}

.copyright-reserved .copyright-text a {
	color: #b2b2b2;
}

.copyright-reserved .copyright-text i {
	color: #cc2424;
}

.copyright-reserved .copyright-text a:hover {
	color: #e7ab3c;
}

.copyright-reserved .payment-pic {
	float: right;
}

/*---------------------
  Product Details
-----------------------*/

.product-shop.page-details {
	padding-bottom: 60px;
}


/* product-details */

.product-details .pd-title {
	position: relative;
	margin-bottom: 6px;
}

.product-details .pd-title span {
	display: block;
	font-size: 12px;
	color: #b2b2b2;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	line-height: 23px;
}

.product-details .pd-title h3 {
	color: #252525;
	font-weight: 700;
}

.product-details .pd-title .heart-icon {
	color: #252525;
	font-size: 18px;
	position: absolute;
	right: 0;
	top: 0;
}

.product-details .pd-rating {
	margin-bottom: 10px;
}

.product-details .pd-rating i {
	font-size: 12px;
	display: inline-block;
	color: #FAC451;
	margin-right: -3px;
}

.product-details .pd-rating span {
	font-size: 12px;
	color: #999591;
}

.product-details .pd-desc {
	margin-bottom: 24px;
}

.product-details .pd-desc p {
	color: #636363;
}

.product-details .pd-desc h4 {
	color: #e7ab3c;
	font-weight: 700;
}

.product-details .pd-desc h4 span {
	font-size: 18px;
	font-weight: 400;
	color: #b7b7b7;
	text-decoration: line-through;
	display: inline-block;
	margin-left: 13px;
}

.product-details .pd-color {
	margin-bottom: 25px;
}

.product-details .pd-color h6 {
	color: #252525;
	font-weight: 700;
	float: left;
	margin-right: 28px;
}

.product-details .pd-color .pd-color-choose {
	display: inline-block;
}

.product-details .pd-color .pd-color-choose .cc-item {
	display: inline-block;
	margin-right: 10px;
}

.product-details .pd-color .pd-color-choose .cc-item input {
	position: absolute;
	visibility: hidden;
}

.product-details .pd-color .pd-color-choose .cc-item label {
	height: 20px;
	width: 20px;
	background: #252525;
	border-radius: 50%;
	cursor: pointer;
	margin-bottom: 0;
}

.product-details .pd-color .pd-color-choose .cc-item label.cc-yellow {
	background: #EEEE21;
}

.product-details .pd-color .pd-color-choose .cc-item label.cc-violet {
	background: #8230E3;
}

.product-details .pd-size-choose {
	margin-bottom: 30px;
}

.product-details .pd-size-choose .sc-item {
	display: inline-block;
	margin-right: 5px;
}

.product-details .pd-size-choose .sc-item:last-child {
	margin-right: 0;
}

.product-details .pd-size-choose .sc-item input {
	position: absolute;
	visibility: hidden;
}

.product-details .pd-size-choose .sc-item label {
	font-size: 16px;
	color: #252525;
	font-weight: 700;
	height: 40px;
	width: 47px;
	border: 1px solid #ebebeb;
	text-align: center;
	line-height: 40px;
	text-transform: uppercase;
	cursor: pointer;
}

.product-details .pd-size-choose .sc-item label.active {
	background: #252525;
	color: #ffffff;
}

.product-details .quantity {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 33px;
}

.product-details .quantity .pro-qty {
	width: 123px;
	height: 46px;
	border: 2px solid #ebebeb;
	padding: 0 15px;
	float: left;
	margin-right: 14px;
}

.product-details .quantity .pro-qty .qtybtn {
	font-size: 24px;
	color: #b2b2b2;
	float: left;
	line-height: 38px;
	cursor: pointer;
	width: 18px;
}

.product-details .quantity .pro-qty .qtybtn.dec {
	font-size: 30px;
}

.product-details .quantity .pro-qty input {
	text-align: center;
	width: 52px;
	font-size: 14px;
	font-weight: 700;
	border: none;
	color: #4c4c4c;
	line-height: 40px;
	float: left;
}

.product-details .quantity .primary-btn.pd-cart {
	padding: 14px 70px 10px;
}

.product-details .pd-tags {
	margin-bottom: 27px;
}

.product-details .pd-tags li {
	list-style: none;
	font-size: 16px;
	color: #636363;
	line-height: 30px;
}

.product-details .pd-tags li span {
	color: #252525;
	font-weight: 700;
	text-transform: uppercase;
}

.product-details .pd-share {
	overflow: hidden;
}

.product-details .pd-share .p-code {
	font-size: 16px;
	color: #252525;
	float: left;
}

.product-details .pd-share .pd-social {
	float: right;
}

.product-details .pd-share .pd-social a {
	display: inline-block;
	color: #252525;
	font-size: 14px;
	margin-left: 15px;
}




.product-pic-zoom img {
	width: 400px;
}

.product-pic-zoom .zoom-icon {
	position: absolute;
	right: 20px;
	top: 20px;
}

.product-pic-zoom .zoom-icon i {
	color: #4c4c4c;
	font-size: 14px;
	width: 40px;
	height: 40px;
	border: 1px solid #d7d7d7;
	text-align: center;
	border-radius: 50%;
	line-height: 37px;
}
.product-thumbs .pt {
	cursor: pointer;
	position: relative;
}

.product-thumbs .pt.active:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	border: 1px solid #e7ab3c;
	z-index: 1;
}


.myButton {
	box-shadow:inset 0px 1px 0px 0px #e7ab3c;
	background:linear-gradient(to bottom, #e7ab3c 5%, #e7ab3c 100%);
	background-color:#e7ab3c;
	border:1px solid #e7ab3c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:14px;
	font-weight:bold;
	padding:10px 50px;
  text-decoration:none;
}
.myButton:hover {
	background:linear-gradient(to bottom, #d88d03 5%, #e7ab3c 100%);
  background-color:#e7ab3c;
  text-decoration: none;
  color: #ffffff;
}
.myButton:active {
	position:relative;
	top:1px;
}









/*---------------------
  Breadcrumb
-----------------------*/

.breadcrumb-text {
	border-bottom: 1px solid #ebebeb;
	padding: 15px 0;
}

.breadcrumb-text.product-more a:nth-child(1):after {
	color: #252525;
}

.breadcrumb-text a {
	display: inline-block;
	font-size: 16px;
	color: #252525;
	margin-right: 28px;
	position: relative;
}

.breadcrumb-text a:after {
	position: absolute;
	right: -18px;
	top: 0px;
	content: "";
	font-family: "FontAwesome";
	font-size: 16px;
	color: #b2b2b2;
}

.breadcrumb-text span {
	display: inline-block;
	color: #b2b2b2;
}



/*---------------------
  Shopping Cart
-----------------------*/
.product-name{
	font-size: 18px !important;
}
.shopping-cart {
	padding-top: 80px;
	padding-bottom: 60px;
}

.cart-table {
	margin-bottom: 40px;
}

.cart-table table {
	width: 100%;
	min-width: 480px;
	border: 1px solid #ebebeb;
}

.cart-table table tr th {
	font-size: 16px;
	color: #252525;
	font-weight: 700;
	border-bottom: 1px solid #ebebeb;
	text-align: center;
	padding: 18px 0 19px;
	text-transform: uppercase;
}

.cart-table table tr th.p-name {
	text-align: left;
}

.cart-table table tr td {
	text-align: center;
	padding-bottom: 34px;
}

.cart-table table tr td.first-row {
	padding-top: 30px;
}

.cart-table table tr td.cart-pic {
	width: 21%;
}

.cart-table table tr td.cart-title {
	text-align: left;
}

.cart-table table tr td.cart-title h5 {
	color: #252525;
}

.cart-table table tr td.p-price {
	width: 16%;
}

.cart-table table tr td.p-price,
.cart-table table tr td.total-price {
	color: #e7ab3c;
	font-size: 16px;
	font-weight: 700;
}

.cart-table table tr td.qua-col {
	width: 16%;
}

/* .cart-table table tr td.qua-col .quantity {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
} */

.cart-table table tr td.qua-col .pro-qty {
	width: 123px;
	height: 46px;
	border: 2px solid #ebebeb;
	padding: 0 15px;
	float: left;
}

.cart-table table tr td.qua-col .pro-qty .qtybtn {
	font-size: 24px;
	color: #b2b2b2;
	float: left;
	line-height: 38px;
	cursor: pointer;
	width: 18px;
}

.cart-table table tr td.qua-col .pro-qty .qtybtn.dec {
	font-size: 30px;
}

.cart-table table tr td.qua-col .pro-qty input {
	text-align: center;
	width: 52px;
	font-size: 14px;
	font-weight: 700;
	border: none;
	color: #4c4c4c;
	line-height: 40px;
	float: left;
}

.cart-table table tr td.total-price {
	width: 12%;
}

.cart-table table tr td.close-td {
	font-size: 16px;
	color: #252525;
	width: 8%;
}

.cart-table table tr td.close-td i {
	cursor: pointer;
}

.cart-buttons {
	margin-bottom: 34px;
}

.cart-buttons .continue-shop {
	color: #b2b2b2;
	border: 2px solid #ebebeb;
	background: #ffffff;
	margin-right: 8px;
	padding: 12px 20px 12px 20px;
	margin-bottom: 10px;
}

.cart-buttons .up-cart {
	color: #252525;
	background: #f3f3f3;
	border: 2px solid #ebebeb;
	padding: 12px 20px 12px 20px;
}

.discount-coupon {
	margin-bottom: 30px;
}

.discount-coupon h6 {
	color: #232530;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 16px;
}

.discount-coupon .coupon-form {
	position: relative;
}

.discount-coupon .coupon-form input {
	width: 100%;
	height: 46px;
	border: 2px solid #ebebeb;
	color: #b2b2b2;
	font-size: 14px;
	padding-left: 20px;
}

.discount-coupon .coupon-form .coupon-btn {
	position: absolute;
	right: 0;
	top: 0;
	color: #252525;
	background: transparent;
	border: 1px solid transparent;
	padding: 13px 25px 10px 35px;
}

.proceed-checkout ul {
	border: 2px solid #ebebeb;
	background: #f3f3f3;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 16px;
	padding-bottom: 20px;
}

.proceed-checkout ul li {
	list-style: none;
	font-size: 16px;
	font-weight: 700;
	color: #252525;
	text-transform: uppercase;
	overflow: hidden;
}

.proceed-checkout ul li.subtotal {
	font-weight: 400;
	text-transform: capitalize;
	border-bottom: 1px solid #ffffff;
	padding-bottom: 14px;
}

.proceed-checkout ul li.subtotal span {
	font-weight: 700;
}

.proceed-checkout ul li.cart-total {
	padding-top: 10px;
}

.proceed-checkout ul li.cart-total span {
	color: #e7ab3c;
}

.proceed-checkout ul li span {
	float: right;
}

.proceed-checkout .proceed-btn {
	font-size: 14px;
	font-weight: 700;
	color: #ffffff;
	background: #252525;
	text-transform: uppercase;
	padding: 15px 25px 14px 25px;
	display: block;
	text-align: center;
}


/*---------------------
  Check Out
-----------------------*/

.checkout-section {
	padding-top: 80px;
	padding-bottom: 80px;
}

.checkout-content {
	margin-bottom: 50px;
}

.checkout-content .content-btn,
.checkout-content input {
	color: #252525;
	font-size: 16px;
	border: 2px solid #ebebeb;
	padding: 14px 20px;
	background: #f3f3f3;
	text-align: center;
	display: block;
}

.checkout-content input {
	height: 56px !important;
}

.checkout-form h4 {
	color: #252525;
	font-weight: 700;
	margin-bottom: 30px;
}

.checkout-form label {
	color: #252525;
	font-size: 16px;
	margin-bottom: 5px;
}

.checkout-form label span {
	color: #d85d5c;
}

.checkout-form input {
	width: 100%;
	height: 46px;
	border: 2px solid #ebebeb;
	margin-bottom: 25px;
	padding-left: 15px;
}

.checkout-form input.payment {
	border: 2px solid #ebebeb;
	margin-bottom: 25px;
    padding-left: 15px;
    height: 20px;
}

.checkout-form input.street-first {
	margin-bottom: 20px;
}

.checkout-form .create-item {
	padding-top: 15px;
}

.checkout-form .create-item label {
	position: relative;
	cursor: pointer;
	padding-left: 32px;
	margin-bottom: 0;
	font-size: 14px;
	color: #252525;
}

.checkout-form .create-item label input {
	position: absolute;
	visibility: hidden;
}

.checkout-form .create-item label input:checked~span {
	background: #e7ab3c;
	border-color: #e7ab3c;
}

.checkout-form .create-item label .checkmark {
	position: absolute;
	left: 0;
	top: 3px;
	height: 13px;
	width: 13px;
	border: 2px solid #B2B2B2;
	border-radius: 2px;
}

.checkout-form .create-item label .checkmark:after {
	left: 0;
	top: 0;
	width: 9px;
	height: 6px;
	border: solid #ffffff;
	border-width: 2px 2px 0px 0px;
	-webkit-transform: rotate(127deg);
	-ms-transform: rotate(127deg);
	transform: rotate(127deg);
}

.checkout-form .place-order .order-total {
	border: 2px solid #ebebeb;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 22px;
	padding-bottom: 35px;
}

.checkout-form .place-order .order-total .order-table {
	margin-bottom: 64px;
}

.checkout-form .place-order .order-total .order-table li {
	list-style: none;
	color: #252525;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 5px;
	padding-top: 30px;
}

.checkout-form .place-order .order-total .order-table li:first-child {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 20px;
	padding-top: 0;
}

.checkout-form .place-order .order-total .order-table li.fw-normal {
	font-weight: 400;
	text-transform: capitalize;
}

.checkout-form .place-order .order-total .order-table li.fw-normal span {
	font-weight: 700;
}

.checkout-form .place-order .order-total .order-table li.total-price span {
	color: #e7ab3c;
}

.checkout-form .place-order .order-total .order-table li span {
	float: right;
}

.checkout-form .place-order .order-total .payment-check {
	margin-bottom: 50px;
}

.checkout-form .place-order .order-total .payment-check .pc-item label {
	position: relative;
	cursor: pointer;
	padding-left: 32px;
	margin-bottom: 0;
	font-size: 14px;
	color: #252525;
}

.checkout-form .place-order .order-total .payment-check .pc-item label input {
	position: absolute;
	visibility: hidden;
}

.checkout-form .place-order .order-total .payment-check .pc-item label input:checked~span {
	background: #e7ab3c;
	border-color: #e7ab3c;
}

.checkout-form .place-order .order-total .payment-check .pc-item label .checkmark {
	position: absolute;
	left: 0;
	top: 3px;
	height: 13px;
	width: 13px;
	border: 2px solid #B2B2B2;
	border-radius: 2px;
}

.checkout-form .place-order .order-total .payment-check .pc-item label .checkmark:after {
	left: 0;
	top: 0;
	width: 9px;
	height: 6px;
	border: solid #ffffff;
	border-width: 2px 2px 0px 0px;
	-webkit-transform: rotate(127deg);
	-ms-transform: rotate(127deg);
	transform: rotate(127deg);
}

.checkout-form .place-order .order-total .order-btn {
	text-align: center;
}

.checkout-form .place-order .order-total .order-btn .place-btn {
	padding: 13px 40px 11px;
	background: #000000;
	border-color: #000000;
}


/*---------------------
  Register Form
-----------------------*/
.dangnhap{
	background-color: #E7AB3C;
	padding: 10px;
	border: none;
	color: #FFFFFF;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 18px;
}
.register-login-section {
	padding-top: 72px;
	padding-bottom: 80px;
}

.register-form h2,
.login-form h2 {
	color: #252525;
	font-weight: 700;
	text-align: center;
	margin-bottom: 35px;
}

.register-form form .group-input,
.login-form form .group-input {
	margin-bottom: 25px;
}

.register-form form .group-input label,
.login-form form .group-input label {
	display: block;
	font-size: 18px;
	color: #252525;
	margin-bottom: 13px;
}

.register-form form .group-input input,
.login-form form .group-input input {
	border: 1px solid #ebebeb;
	height: 50px;
	width: 100%;
	padding-left: 20px;
	padding-right: 15px;
}

.register-form form .register-btn,
.register-form form .login-btn,
.login-form form .register-btn,
.login-form form .login-btn {
	width: 100%;
	letter-spacing: 2px;
	margin-top: 5px;
}

.register-form .switch-login,
.login-form .switch-login {
	text-align: center;
	margin-top: 22px;
}

.register-form .switch-login .or-login,
.login-form .switch-login .or-login {
	color: #252525;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	position: relative;
}

.register-form .switch-login .or-login:before,
.login-form .switch-login .or-login:before {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 100%;
	background: #9f9f9f;
	content: "";
}

.login-form .group-input.gi-check {
	margin-bottom: 8px;
}

.login-form .group-input .gi-more {
	overflow: hidden;
}

.login-form .group-input .gi-more label {
	position: relative;
	cursor: pointer;
	padding-left: 28px;
	font-size: 14px;
	color: #6B6B6B;
	float: left;
}

.login-form .group-input .gi-more label input {
	position: absolute;
	visibility: hidden;
}

.login-form .group-input .gi-more label input:checked~span {
	border-color: #6C6C6C;
}

.login-form .group-input .gi-more label input:checked~span:after {
	border-color: #6c6c6c;
}

.login-form .group-input .gi-more label .checkmark {
	position: absolute;
	left: 0;
	top: 4px;
	height: 13px;
	width: 13px;
	border: 1px solid #6C6C6C;
	border-radius: 2px;
}

.login-form .group-input .gi-more label .checkmark:after {
	left: 2px;
	top: -2px;
	width: 13px;
	height: 6px;
	border: solid #ffffff;
	border-width: 2px 2px 0px 0px;
	-webkit-transform: rotate(127deg);
	-ms-transform: rotate(127deg);
	transform: rotate(127deg);
}

.login-form .group-input .gi-more .forget-pass {
	float: right;
	line-height: 20px;
	margin-top: -2px;
	font-size: 14px;
	color: #6B6B6B;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
    box-sizing: border-box;

    height: 40px;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }



